<IfModule mod_rewrite.c> 
RewriteEngine On 
RewriteBase / 
RewriteRule ^ index \ .php $ - [L] 
RewriteCond% {REQUEST_FILENAME}! -F 
RewriteCond% {REQUEST_FILENAME}! -D 
RewriteRule. / index.php [L] 
</IfModule>