@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* preset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.open-sans{
    font-family: 'Open Sans', sans-serif;
}
/* logomarca */

#logomarca{
    width: 50px;
    height: 50px;
}

/* container principal */
.jf-container{
    width: 100% !important;
    height: 100vh !important;
}

/* container main */
header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./img/hero_svg2.svg) no-repeat;
    background-size: cover;
    background-position: center;
}

main{
    padding: 100px 50px;
}
main .grid-details{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}
main .grid-details .grid-item{
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: #28a745;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.grid-item .show-details-item{
    position: absolute;
    bottom: 0;
}
.grid-item .show-details-item:hover{
    animation: teste 1s;
}

@keyframes teste{
    from{
        bottom: 0;
    }
    to{
        bottom: 5px;
    }
}
.container-item-details{
    padding: 100px 50px;
    background-color: #28a745;
}
.container-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /* height: 300px; */
    margin: 10px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
}
.container-item .item-img{
    width: 200px;
}
.container-item .item-description{
    width: 50%;
    text-align: justify;
}
.footer-container{
    width: 100%;
}
.hero-footer{
    width: 200px;
    height: 200px;
}
.btn-top{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey;
    color: #fff;
    border: none;
    right: 5px;
    bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
/* container login */

.required::after{
    content: "*";
    color: red;
}

.container-acesso{
    display: flex;
    flex-direction: column;
}

/* container lista jobs */

.container-job{
    margin-top: 100px;
    width: 100%;
}
.job-container{
    display: flex;
}

#vertical-navbar{
    width: 270px;
    position: fixed;
    background-color: darkslategray;
    color: #fff;
    left: 0;
    top: 20px;
    bottom: 20px;
    height: 100%;
    transition: 1s all;
}
#job-list{
    width: 100%;
    height: 100;
    margin-left: 160px;
}

.cursor_pointer{
    cursor: pointer;
    color: red;
    position: fixed;
    top: 150px;
    left: 270px;
    transition: 1s all;
}
.border-hover{
    border-bottom:3px solid transparent;
}
.border-hover:hover{
    border-bottom:3px solid DarkSlateGray;
}
#close_navbar:checked ~ #vertical-navbar{
    left: -320px;
    transition: 1s all;
}
#close_navbar:checked ~ #job-list{
    margin-left: 0 !important;
}

#close_navbar:checked ~ .cursor_pointer{
    left: 5px;
    color: green !important;
    transition: 1s all;
}
#servico_img_user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#perfil_img_user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

#choice-file{
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: -100px;
    opacity: 0.8;
    background-color: black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    color: #fff;
}

#perfil_img_user:hover ~ #choice-file{
    display: flex;

}
/* Container perfil */
.container-perfil{
    padding-top: 75px;
    width: 100%;
    height: 100vh;
    position: fixed;
}

#list-services-profile{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
}
.profile-list-service{
    margin-bottom: 100px;
}
.profile-list-service div{
    margin: 10px 25px 0 0;
}
.profile-list-service li{
    list-style: none;
    padding: 20px;
    margin: 10px 25px 0 0;
    border-radius: 5px;
}
.bg-grey{
    background-color: grey;
}
.edit_servico_perfil{
    margin: 10px 25px 0 0;
}

#profile-msg{
    width: 100%;
    height: 100%;
    margin-right: 20px;
}
.list-contatos{
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}
.profile-msg-contatos{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background-color: lightgreen;
    cursor: pointer;
}
.profile-msg-contatos-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.profile-msg-body{
    width: 100%;
    height: 300px;
    background-color: lightgrey;
    overflow-y: scroll;
    padding: 10px;
}
.messages_body{
    list-style: none;
    line-height: 20px;
    padding: 0;
    margin: 0;
}

.received{
    max-width: 50%;
    text-align: left;
}
.msg-received{
    display: inline-block;
    border-radius: 0 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: left;
    padding: 10px;
}
.sended{
    max-width: 50%;
    margin: 0 0 0 auto;
    text-align: right;
}
.msg-sended{
    display: inline-block;
    border-radius: 10px 0 10px 10px;
    background-color: #fff;
    color: #000;
    padding: 10px;
    text-align: left;
}
.avaliacoes-container{
    width: 100%;
    height: 100%;
    padding-right: 30px;
    padding-bottom: 100px;
}

/* spinners */
.await-request{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-contatos-container{
    display: flex;
    flex-direction: column;
}
/* media query 100px */

@media(max-width: 993px){

    .padding-md{
        padding: 5px !important;
    }
    .job-container{
        display: flex;
        flex-direction: column;
    }
    #close_navbar:checked ~ #vertical-navbar{
        left: 0;
        transition: 1s all;
    }
    #vertical-navbar{
        left: 0;
        top: 0;
        width: 100%;
        position: relative;
        padding: 0;
        margin: 0 0 20px 0;
    }
    main .grid-details{
        width: 100%;
        padding-bottom: 100px;
    }
    main .grid-details .grid-item{
        width: 100%;
    }
    .container-item .item-img{
        width: 100%;
    }
    .container-item .item-description{
        width: 100%;
        margin-top: 20px;
        text-align: justify;
    }


    #job-list{
        margin-left: 0 ;
    }
    .cursor_pointer{
        display: none;
    }
    .container-perfil{
        position: absolute;
    }
    .title-md{
        display: none;
    }
    #list-services-profile{
        position: relative;
    }
    .profile-list-service{
        margin-right: 10px;
    }
    .profile-list-service div{
        margin: 0;
    }
    .profile-list-service li{
        margin: 5px;
    }
    .avaliacoes-container{
        padding-right: 20px;
    }
    .list-contatos{
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        align-items: center;
        height: 100px;
        width: 100%;
    }
    .profile-msg-contatos{
        margin: 0 10px;
    }
    .list-contatos-container{
        flex-direction: row;
    }
}

/* media query 768px */

@media(max-width: 768px){
    #img_not_found{
        width: 100px;
        height: 100px;
        margin: 0;
    }
}

/* Component rating */
/* component */

.star-rating {
    display:flex;
    flex-direction: row-reverse;
    font-size:2em;
    justify-content:space-around;
    align-items: center;
    padding:0 .2em;
    text-align:center;
    width:5em;
  }
  
  .star-rating input {
    display:none;
  }
  
  .star-rating label {
    color:#ccc;
    cursor:pointer;
  }
  
  .star-rating :checked ~ label {
    color:#f90;
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color:#fc0;
  }